.logodaloja {
width: 22%;

}

.menu-options {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.menu-options li {
    background-color: rgb(0, 0, 0);
    flex: 1;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-item {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
    .menu-options {
        display: block;
    }  

    .logodaloja {
        width: 20%;
        flex-direction: column;
    }
}