.menu-options {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    background-color: #a33737;
}

.menu-options li {
    background-color: rgb(6, 113, 180);
    flex: 1;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-item {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* @media screen and (max-width: 992px) {
    .menu-options {
        display: block;
    }  
} */