.menu-options {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    background-color: #04449c;
}

.menu-options li {
    background-color: #04449c;
    flex: 1;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-item {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* @media screen and (max-width: 992px) {
    .menu-options {
        display: block;
    }  
} */